<div class="container">
    <section>
        <div class="create-button-row">
          <button mat-raised-button>Create</button>
        </div>
    </section>    

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lastName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Date of birth </th>
          <td mat-cell *matCellDef="let user"> {{user.dateOfBirth | date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="points">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Points </th>
          <td mat-cell *matCellDef="let user"> {{user.points}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let user">
                <section class="example-section">
                    <mat-checkbox *ngIf="user.isActive" class="example-margin" [disabled]="true" checked="true"> Active</mat-checkbox>
                    <mat-checkbox *ngIf="!user.isActive" class="example-margin" [disabled]="true" checked="false"> Disabled</mat-checkbox>
                </section>    
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="flex" mat-cell *matCellDef="let user"> 
                <section>
                    <div class="example-button-row">
                      <button mat-raised-button>Edit</button>
                    </div>
                </section>
                <section>
                    <div class="example-button-row">
                      <button mat-raised-button>Delete</button>
                    </div>
                </section>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>